extends layout
block content
	link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css')
	script(src="/javascripts/libs/require/require-min.js" data-main="/javascripts/main")
	div.container
		div#logo
			h1 Hangboarding App
		div.page
		div#footer