
    <a href="#/new" class="btn btn-primary">New</a>
    <hr />
    <table class="table striped">
        <thead>
        <tr>
            <th>Workout Number</th>
            <th>Date</th>
            <th>Reps</th>
            <th>Type</th>
            <th>RPE</th>
            <th>Bodyweight</th>

            {{#each workouts.0.grips}}
            <th>{{this.name}} Est. 1RM</th>
            <th>{{this.name}} weight</th>
            <th>{{this.name}}  Sets</th>
            {{/each}}

            <th></th>
        </tr>
        </thead>
        <tbody>

        {{#each workouts}}
        <tr>
            <td>{{this.index}}</td>
            <td>{{this.date}}</td>
            <td>{{this.repetitions}}</td>
            <td>{{this.type}}</td>
            <td>{{this.RPE}}</td>
            <td>{{this.weight}}</td>

            {{#each this.grips}}
            <td>{{this.1RM}}</td>
            <td>{{this.resistance}}</td>
            <td>{{this.sets}}</td>
            {{/each}}

            <!--TODO @rbalakrishnan Consider making new model for each grip?-->
            <td><a class="btn" href="#/edit/{{this.id}}">Edit</a></td>
        </tr>
        {{/each}}

        </tbody>
    </table>
  