
<hr />

<form class="edit-workout-form">

<table class="table striped">
    <thead>
    <tr>
        <th>Workout Number</th>
        <th>Date</th>
        <th>Reps</th>
        <th>Type</th>
        <th>RPE</th>
        <th>Bodyweight</th>


        <th>Est. 1RM</th>
        <th>weight</th>
        <th>Sets</th>

        <th>Est. 1RM</th>
        <th>weight</th>
        <th>Sets</th>


        <th>Est. 1RM</th>
        <th>weight</th>
        <th>Sets</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {{#each workout}}
    <tr>
        <td><input name="sessionNumber" size="10" type="text" value="{{this.sessionNumber}}"></td>
        <td><input name="date" type="text" value="{{this.date}}"></td>
        <td><input name="repetitions" type="text" value="{{this.repetitions}}"></td>
        <td><input name="type" type="text" value="{{this.type}}"></td>
        <td><input name="effortRating" type="text" value="{{this.effortRating}}"></td>
        <td><input name="bodyWeight" type="text" value="{{this.bodyWeight}}"></td>

        <td><input name="repMax" type="text" value="{{this.repMax.[0]}}"></td>
        <td><input name="resistance" type="text" value="{{this.resistance.[0]}}"></td>
        <td><input name="sets" type="text" value="{{this.sets.[0]}}"></td>

        <td><input name="repMax" type="text" value="{{this.repMax.[1]}}"></td>
        <td><input name="resistance" type="text" value="{{this.resistance.[1]}}"></td>
        <td><input name="sets" type="text" value="{{this.sets.[1]}}"></td>

        <td><input name="repMax" type="text" value="{{this.repMax.[2]}}"></td>
        <td><input name="resistance" type="text" value="{{this.resistance.[2]}}"></td>
        <td><input name="sets" type="text" value="{{this.sets.[2]}}"></td>

    </tr>
    {{/each}}

    </tbody>
</table>

    <button type="submit" class="btn edit-workout-form" >Submit</button>

</form>
  