
<hr />

<form class="edit-workout-form">




<table class="table striped">
    <thead>
    <tr>
        <th>Workout Number</th>
        <th>Date</th>
        <th>Reps</th>
        <th>Type</th>
        <th>RPE</th>
        <th>Bodyweight</th>


        <th>Est. 1RM</th>
        <th>weight</th>
        <th>Sets</th>

        <th>Est. 1RM</th>
        <th>weight</th>
        <th>Sets</th>


        <th>Est. 1RM</th>
        <th>weight</th>
        <th>Sets</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {{#each workouts}}
    <tr>
        <td><input name="type" size="10" type="text" value="{{this.index}}"></td>
        <td><input name="firstname" type="text" value="{{this.date}}"></td>
        <td><input name="firstname" type="text" value="{{this.repetitions}}"></td>
        <td><input name="type" type="text" value="{{this.type}}"></td>
        <td><input name="firstname" type="text" value="{{this.RPE}}"></td>
        <td><input name="firstname" type="text" value="{{this.weight}}"></td>
        {{#each this.grips}}
        <td><input name="type" type="text" value="{{this.1RM}}"></td>
        <td><input name="firstname" type="text" value="{{this.resistance}}"></td>
        <td><input name="firstname" type="text" value="{{this.sets}}"></td>
        {{/each}}

    </tr>
    {{/each}}

    </tbody>
</table>

    <button type="submit" class="btn">Submit</button>

</form>
  