
<form class="bodyweight-form">
    <table class="table striped">
        <tr>
            <th>Current Bodyweight</th>
            <th><input name="weight" size="10" type="text" value=""></th>
            <th><button type="submit" class="btn bodyweight-form" >New Workout</button></th>
        </tr>
    </table>
</form>
    <hr />
    <table class="table striped">
        <thead>

        <tr>
            <th>Workout Number</th>
            <th>Date</th>
            <th>Reps</th>
            <th>Type</th>
            <th>RPE</th>
            <th>Bodyweight</th>

            <th>{{this.name}} Est. 1RM</th>
            <th>{{this.name}} res</th>
            <th>{{this.name}}  Sets</th>

            <th>{{this.name}} Est. 1RM</th>
            <th>{{this.name}} res</th>
            <th>{{this.name}}  Sets</th>

            <th>{{this.name}} Est. 1RM</th>
            <th>{{this.name}} res</th>
            <th>{{this.name}}  Sets</th>

            <th></th>
        </tr>
        </thead>
        <tbody>

        {{#each workouts}}
        <tr>
            <td>{{this.sessionNumber}}</td>
            <td>{{this.date}}</td>
            <td>{{this.repetitions}}</td>
            <td>{{this.type}}</td>
            <td>{{this.effortRating}}</td>
            <td>{{this.bodyWeight}}</td>


            <td>{{this.repMax.[0]}}</td>
            <td>{{this.resistance.[0]}}</td>
            <td>{{this.sets.[0]}}</td>

            <td>{{this.repMax.[1]}}</td>
            <td>{{this.resistance.[1]}}</td>
            <td>{{this.sets.[1]}}</td>

            <td>{{this.repMax.[2]}}</td>
            <td>{{this.resistance.[2]}}</td>
            <td>{{this.sets.[2]}}</td>


            <!--TODO @rbalakrishnan Consider making new model for each grip?-->
            <td><a class="btn" href="#/edit/{{this.sessionNumber}}">Edit</a></td>
            <!--<td><a class="btn" href="#/edit/{{this.id}}">Edit</a></td>-->
        </tr>
        {{/each}}

        </tbody>
    </table>
  